- page_title s_("AdminSelfHostedModels|Self-hosted models")
#js-self-hosted-models{ data: { view_model: { basePath: admin_ai_self_hosted_models_path, modelOptions: model_choices_as_options  }.to_json } }
